<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="main/layout/basic">
<th:block layout:fragment="title">
	<title>This page is a survey result page</title>
</th:block>


<th:block layout:fragment="content">
	<div class="card-content">
		<!-- form-->
		<form class="form-horizontal">
			<!-- Masthead-->
			<header class="masthead">
				<div class="container px-4 px-lg-5 h-100">
					<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
						<div class="col-lg-8 align-self-end">
							<h1 class="text-white font-weight-bold">Your Job will be..</h1>
							<hr class="divider" />
						</div>
						<div class="table-responsive clearfix">
							<table style="margin: auto; text-align: left;" class="text-white-75 mb-5">

								<tbody>
									<tr th:if="${not #lists.isEmpty( surveyList )}" th:each="row : ${surveyList}">
										<td class="text-center"><a th:text="${row.id}"></a>님의 유형은 <a
												th:text="${row.usertype}"></a> 입니다</td>
									</tr>
									<tr th:unless="${not #lists.isEmpty( surveyList )}">
										<td colspan="5">조회된 결과가 없습니다.</td>
									</tr>
									<tr>
										<td class="text-center"><a th:text="${typeFeature}"></a></td>
									</tr>
									<tr>
										<td class="text-center">추천 직업 : <a th:text="${typeJob}"></a></td>
									</tr>
									<tr>
										<td class="text-center">--------------------------------------</td>
									</tr>
									<tr th:if="${not #lists.isEmpty( character )}" th:each="row : ${character}">
										<td class="text-center"></a>캐릭터 : <a th:text="|${row.name} (${row.title})|"></a>
										</td>
									</tr>
									<tr th:unless="${not #lists.isEmpty( character )}">
										<td colspan="5"> 해당하는 캐릭터가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-lg-8 align-self-baseline">
							<p class="text-white-75 mb-5">다시 테스트 하시겠습니까?</p>

							<a class="btn btn-secondary btn-xl" style="margin:5px;" href="surveylist">다시 테스트하기</a>
							<a class="btn btn-primary btn-xl" style="margin:5px;" th:href="@{/identify}">마이페이지</a>

						</div>
					</div>
				</div>
			</header>
		</form>
	</div>

</th:block>

</html>