<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="survey/layout/basic">

<th:block layout:fragment="title">
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<title>user access</title>
</th:block>

<th:block layout:fragment="content">
	<div class="container px-4 px-lg-5 h-100 align-items-center justify-content-center">
	<br>
		<h1 style="text-align: center; padding: 40px;">!!!환영합니다!!!</h1>
	<div th:text="${id}"></div>
	<div th:text="${pwd}"></div>
	</div>
</th:block>
</html>