<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="main-body" id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav2">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" th:href="@{/main}">Main</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto my-2 my-lg-0">
					<li class="nav-item">
						<div class="box2">
							<select id="boardType" onchange="if(this.value) location.href=(this.value);">
								<option class="option" value="">Select Board Type</option>
								<option class="option" th:value="@{/board/list.do}">관리자형 - ESTJ / ESFJ / ISTJ / ISFJ
								</option>
								<option class="option" th:value="@{/board/list.do}">분석가형 - ENTJ / ENTP / INTJ / INTP
								</option>
								<option class="option" th:value="@{/board/list.do}">외교관형 - ENFP / ENFJ / INFP / INFJ
								</option>
								<option class="option" th:value="@{/board/list.do}">탐험가형 - ESTP / ESFP / ISTP / ISFP
								</option>
							</select>
						</div>
					</li>				
					<li class="nav-item"><a class="nav-link" th:href="@{/survey/surveylist.do}">Survey</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/board/list.do}">Board</a></li>
					<li class="nav-item" th:if="${session.id}==null"><a
						class="nav-link" href="#login">LogIn</a></li>
					<li class="nav-item" th:if="${session.id}!=null"><a
						class="nav-link" th:href="@{/logout}">LogOut</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /.fixed-navbar -->

	<div id="wrapper">
		<div class="main-content">
			<div class="row row-inline-block small-spacing">
				<div class="col-xs-12">
					<div class="box-content">

						<!-- //.clearfix -->

						<th:block layout:fragment="content"></th:block>

						<th:block layout:fragment="paging"></th:block>
					</div>
					<!-- /.box-content -->

					<th:block layout:fragment="add-content"></th:block>

				</div>
				<!-- /.col-xs-12 -->
			</div>
			<!-- /.row row-inline-block small-spacing -->

			<!-- Footer-->
			<footer class="bg-light py-5">
				<div class="container px-4 px-lg-5">
					<div class="small text-center text-muted">Copyright &copy;
						2022 - Ver De Terr</div>
				</div>
			</footer>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /#wrapper -->
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- ************Pyscript*************
	<script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
	
	<!-- SimpleLightbox plugin JS-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>