<!DOCTYPE html>
<html>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	$(document).ready(function() {
		let message = "[[${msg}]]";
		if (message != "") {
			alert(message);
		} else {
		}
	})
</script>
</head>
<body>
	<div class="container">
		<h1>아이디찾기</h1>
		<form th:action="@{/findId_proc(email=${email})}" method="get">
			<div class="form-group">
				<label th:for="useremail">이메일</label> <input type="text" name="email"
					class="form-control" placeholder="이메일을 입력해주세요">
			</div>
			<button type="submit" class="btn btn-primary">아이디 찾기</button>
	</div>
</body>
</html>