<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>VerDeTerr</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap Icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Google fonts-->
<link
	href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
	rel="stylesheet" type="text/css" />
<!-- SimpleLightbox plugin CSS-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	    $(document).ready(function() {
	    	let msgLoginSuccess = "[[${msgLoginSuccess}]]";
	    	let msgLoginError = "[[${msgLoginError}]]";
	        let msgSignupSuccess = "[[${msgSignupSuccess}]]";
	        let msgSignupError = "[[${msgSignupError}]]";
	        let msgLogout = "[[${msgLogout}]]";
	        let msgMod = "[[${msgMod}]]";
	        let surveyError = "[[${surveyError}]]";
	        
	        if (msgLoginSuccess != "") {
	           alert(msgLoginSuccess);
	        }
	        if (msgLoginError != "") {
			       alert(msgLoginError);
			       location.href="main#login";
			}
	        if (msgSignupSuccess != "") {
		           alert(msgSignupSuccess);
	        }
	        if (msgSignupError != "") {
			       alert(msgSignupError);
			       location.href="main#signup";
			}
	        if (msgLogout != "") {
		           alert(msgLogout);      	
		        }
	        if (msgMod != "") {
	           alert(msgMod);
	        }
	        if (surveyError != "") {
		           alert(surveyError);
		        }
	    })
	</script>
</head>
<body id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3"
		id="mainNav">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" th:if="${session.id}!=null"
				th:href="@{/identify}">Mypage</a><a class="navbar-brand"
				th:if="${session.id}==null" th:href="@{/main}">Main</a><a
				th:if="${session.id}!=null" th:text="|Hello, ${session.id}!|"></a> <a
				th:if="${session.id}==null">Please Log in!</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto my-2 my-lg-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/survey/surveylist.do}">Survey</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/board/list.do}">Board</a></li>
					<li class="nav-item" th:if="${session.id}==null"><a
						class="nav-link" href="#login">LogIn</a></li>
					<li class="nav-item" th:if="${session.id}!=null"><a
						class="nav-link" th:href="@{/logout}">LogOut</a></li>
					<li class="nav-item"><a class="nav-link" href="#signup">SignUp</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead">
		<div class="container px-4 px-lg-5 h-100">
			<div
				class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-end">
					<h1 class="text-white font-weight-bold">Welcome to VerDeTerr
						:)</h1>
					<hr class="divider" />
				</div>
				<div class="col-lg-8 align-self-baseline">
					<p class="text-white-75 mb-5">
						Join us and take an Interesting test,<br>And you can use our
						community service!
					</p>
					<a class="btn btn-primary btn-xl" href="#signup">Join Us</a>
				</div>
			</div>
		</div>
	</header>
	<!-- About-->
	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-white mt-0">Ver De Terr</h2>
					<h5 class="text-white-75 mt-0">fra. 지렁이</h5>
					<hr class="divider divider-light" />
					<p class="text-white-75 mb-4">끊임없이 꿈틀대는 지렁이들처럼 꿈의 틀을 만들어가는
						취준생들을 위한 소통 커뮤니티</p>
					<a class="btn btn-light btn-xl" href="#services">Get Started!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Services-->
	<section class="page-section" id="services">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mt-0">At Your Service</h2>
			<hr class="divider" />
			<div class="row gx-4 gx-lg-5">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2">
							<i class="bi-gem fs-1 text-primary"></i>
						</div>
						<h3 class="h4 mb-2">Sturdy Themes</h3>
						<p class="text-muted mb-0">Our themes are updated regularly to
							keep them bug free!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2">
							<i class="bi-laptop fs-1 text-primary"></i>
						</div>
						<h3 class="h4 mb-2">Up to Date</h3>
						<p class="text-muted mb-0">All dependencies are kept current
							to keep things fresh.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2">
							<i class="bi-globe fs-1 text-primary"></i>
						</div>
						<h3 class="h4 mb-2">Ready to Publish</h3>
						<p class="text-muted mb-0">You can use this design as is, or
							you can make changes!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<div class="mb-2">
							<i class="bi-heart fs-1 text-primary"></i>
						</div>
						<h3 class="h4 mb-2">Made with Love</h3>
						<p class="text-muted mb-0">Is it really open source if it's
							not made with love?</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Login -->
	<section class="page-section bg-dark text-white" id="login">
		<div
			class="container px-4 px-lg-5 h-100 align-items-center justify-content-center">
			<h1 style="text-align: center;">Log In</h1>
			<hr class="divider divider-light" />
			<form th:action="@{/login_proc}" method="post">
				<div class="form-group" style="margin-top: 10px;">
					<label class="text-white mb-1" th:for="username">아이디</label> <input
						type="text" name="id" class="form-control"
						placeholder="아이디를 입력해주세요">
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="text-white mb-1" th:for="password">비밀번호</label> <input
						type="password" class="form-control" name="pw"
						placeholder="비밀번호를 입력해주세요">
				</div>
				<div class="btn_wrap text-center" style="margin-top: 20px;">
					<button type="submit" class="btn btn-primary">로그인</button>
					<button type="button" class="btn btn-secondary"
						onClick="location.href='findId'">아이디 찾기</button>
					<button type="button" class="btn btn-secondary"
						onClick="location.href='findPw'">비밀번호 찾기</button>
				</div>
			</form>
			<br />
		</div>
	</section>
	<!-- Signup-->
	<section class="page-section" id="signup">
		<div
			class="container px-4 px-lg-5 h-100 align-items-center justify-content-center">
			<h1 style="text-align: center;">Sign Up</h1>
			<hr class="divider" />
			<form th:action="@{signup_proc}" method="post">
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="username">아이디</label> <input type="text" id=id
						name="id" class="form-control" placeholder="아이디 입력해주세요">
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="password">비밀번호</label> <input type="password" id=pw1
						onchange="check_pw()" class="form-control" name="pw"
						placeholder="비밀번호 입력해주세요">
					<div id="check1"
						style="color: gray; font-size: 12px; margin-bottom: 10px;">※
						비밀번호는 6글자 이상, 20글자 이하만 이용 가능합니다.</div>
					<label th:for="password">비밀번호확인</label> <input type="password"
						id=pw2 onchange="check_pw()" class="form-control"
						placeholder="비밀번호 입력해주세요"> <span id="check2"></span>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="password">비밀번호힌트</label> <input type="text"
						class="form-control" name="pwHint" placeholder="나의 보물 1호는?">
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="email">Email</label> <input type="email"
						class="form-control" name="email"
						placeholder="example@example.com">
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="age">나이</label> <input type="text"
						class="form-control" name="age" placeholder="나이 입력해주세요">
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label th:for="gender">성별</label> <input type="radio"
						class="form-control" name="gender" value="남자" checked />남자 <input
						type="radio" class="form-control" name="gender" value="여자" checked />여자
				</div>
				<div class="btn_wrap text-center" style="margin-top: 20px;">
					<button type="submit" class="btn btn-primary">회원가입</button>
					<button type="button" class="btn btn-secondary"
						onClick="location.href='login'">취소하기</button>
				</div>
			</form>
			<br />
		</div>
		<script>
		$(document).ready(function() {
			let message = "[[${msg}]]";
			if (message != "") {
				alert(message);
			} else {
			}
		})
		function check_pw() {
			let pw = document.getElementById('pw1').value;

			if(pw.length < 6 || pw.length>20){
				document.getElementById('check1').innerHTML = '비밀번호는 6글자 이상, 20글자 이하만 이용 가능합니다';
				document.getElementById('check1').style.color = 'red';
			} else{
				document.getElementById('check1').innerHTML = '';
			}
			if (document.getElementById('pw1').value != ''
					&& document.getElementById('pw2').value != '') {
				if (document.getElementById('pw1').value == document
						.getElementById('pw2').value) {
					document.getElementById('check2').innerHTML = '비밀번호가 일치합니다.'
					document.getElementById('check2').style.color = 'blue';
				} else {
					document.getElementById('check2').innerHTML = '비밀번호가 일치하지 않습니다.';
					document.getElementById('check2').style.color = 'red';
				}
			}
		}
	</script>
	</section>

	<!-- Footer-->
	<footer class="bg-light py-5">
		<div class="container px-4 px-lg-5">
			<div class="small text-center text-muted">Copyright &copy; 2022
				- Company Name</div>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- SimpleLightbox plugin JS-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
