<!--비밀번호 변경 페이지-->
<!-- modify.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script>
	    $(document).ready(function() {
	        let message = "[[${msgModify}]]";
	        if (message != "") {
	           alert(message);
	        }else {
	        }
	    })
	</script></head>
<body>
<div class="container">
    <h1>비밀번호 변경</h1>
    <form th:action="@{/modify_proc(id=${id})}" method="get">
        <div class="form-group">
            <label th:for="password">현재 비밀번호</label>
            <input type="password" class="form-control" name="pw" placeholder="현재 비밀번호를 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="password">변경할 비밀번호</label>
            <input type="password" class="form-control" name="pw2" placeholder="변경할 비밀번호를 입력해주세요">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
    </form>
    <br/>
</div>
</body>
</html>